html {
    background-color: #dce13d;
}
body {
    font-family: "Lucida Grande", "Arial", sans-serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #562ba7;
    max-width: 35em;
    border: 0.75em solid #38a2a6;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
}
h1 {
    background-color: #562ba7;
    color: #e1aa20;
    font-size: 200%;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
}
h2 {
    background-color: #562ba7;
    color: #dce13d;
    font-size: 150%;
    padding: 1em;
    margin: -1em -1em 1em -1em;
}
h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}
